<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Detalle Persona</title>
</head>
<body>
    <div>
        <a href="nueva_domicilio"> Agregar Domicio</a>
    </div>
    <div>
        <table border="1">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Calle</th>
                    <th>Nº Calle</th>
                    <th>Pais</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for domicilio in domicilios %}
                <tr>
                    <td>{{domicilio.id}}</td>
                    <td>{{domicilio.calle}}</td>
                    <td>{{domicilio.no_calle}}</td>
                    <td>{{domicilio.pais}}</td>
                    <td><a href="detalle_domicilio/{{domicilio.id}}">Ver detalle</a></td>
                    <td><a href="editar_domicilio/{{domicilio.id}}">Editar</a></td>
                    <td><a href="eliminar_domicilio/{{domicilio.id}}">Eliminar</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <a href="{% url 'inicio' %}">Regresar al inicio</a>
</body>
</html>